# Hide Artifacts

# ---- IDE / editor ----
.idea/
.vscode/
*.iml

# ---- Python cache / builds ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
ruff_cache/
*.log


# ---- OS files ----
.DS_Store
Thumbs.db
